# Jeff McCune <jeff@puppetlabs.com>
# 2010-12-03
# vim: filetype=ruby
#
# Watchr script for continuous testing.
# Tested with rspec-2 and ruby-1.8.7p302

@cmd = "rspec --color --format progress"

# JJM Watch the rspec tests themselves.
watch('spec/.*_spec\.rb') {|md| system("#{@cmd} #{md[0]}")}
# JJM Watch the library files.
watch('lib/(.*)\.rb')     {|md| system("#{@cmd} spec/#{md[1]}_spec.rb")}

# JJM No spec tests on the executables themselves.
# watch('bin/(.*)')         {|md| system("#{@cmd} spec/#{md[1]}_spec.rb")}

